body {
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#gameField {
    border: 1px solid black;
}

/*#apple, #stone, #snake {
    display: none;
}*/

asside {
    float: right;
    width: 250px;
    margin-left: 15px;
}

canvas {
    float: left;
    margin-right: 20px;
}

table {
    width: 250px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}
